
body{
    margin: 0;
}
body *{
    box-sizing: border-box;
}
.login-page-wrapper{
    height: 75vh;
    background-color: #F0F0F0;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-page{
    padding: 20px; 0;
    border-radius: 4px;
    margin: 0 auto;
    width: 600px;
    border: 1px solid #E5E5E5;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.login-page form{
    text-align: center;
}
.login-page form a{
    font-size: 16px;
    color: #666;
}
.login-page label{
    font-size: 18px;
    color: #222;
}

.login-page form input{
    margin: 10px 0;
    padding: 4px 8px;
    border-radius: 4px;
    width: 60%;
    border: 1px solid #E5E5E5;
    background-color: #F0F0F0;
}
.login-page form input[type="submit"]{
    padding: 5px 4px;
    font-size: 20px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #477BF3;
    color: white;
}
.login-page .login-page-header{
    display: flex;
    border-bottom: 1px solid #ddd;
    opacity: 0.8;
}
.login-page .login-page-header div{
    background-color: #00D393;
}

.login-page .login-page-header > div{
    flex: 1;
    text-align: center;
    opacity: 0.9;
    padding: 4px;
    cursor: pointer;
}