body{
    overflow-x: hidden;
}

.image-slider{
    display: none;
    height: 400px;
    box-sizing: border-box;
}
.image-slider .image{
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;      
}
.image1{
    background-image: url('https://images.pexels.com/photos/42273/doctor-medical-medicine-health-42273.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
}
.image2{
    background-image: url('https://images.pexels.com/photos/263370/pexels-photo-263370.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
}
.image3{
    background-image: url('https://images.pexels.com/photos/415779/pexels-photo-415779.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
}

.login-page-wrapper{
    background-color: #F0F0F0;
    padding: 100px 0;
}

.login-page{
    border-radius: 4px;
    margin: 0 auto;
    width: 600px;
    border: 1px solid #E5E5E5;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.login-page form{
    text-align: center;
}
.login-page form a{
    font-size: 16px;
    color: #666;
}

.login-page form input{
    border-radius: 4px;
    width: 60%;
    border: 1px solid #E5E5E5;
    background-color: #F0F0F0;
}
.login-page form input[type="submit"]{
    padding: 2px 4px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #477BF3;
    color: white;
}
.login-page .login-page-header{
    display: flex;
    border-bottom: 1px solid #ddd;
    opacity: 0.8;
}
.login-page .login-page-header div{
    background-color: #00D393;
}

.login-page .login-page-header > div{
    flex: 1;
    text-align: center;
    opacity: 0.9;
    padding: 4px;
    cursor: pointer;
}
#doctor-login{
    display: none;
}

/* About US */
.about-us{
    padding: 75px 0;
    background-color: #700D8B;
}
.about-us h2{
    text-align: center;
    color: white;
}
.about-us .icon{
    width: 70px;
    margin: 30px auto;
}
.about-us .icon img{
    width: 100%;
}
.about-us{
    color: white;
    text-align: center;
    font-size: 18px;
}
.about-us p:before,.about-us p:after {
    content: '"';
}

/* footer */
footer{
    color: white;
    background-color: #2D2F30;
    padding: 8px 20px;

    display: flex;
    justify-content: space-between;
}

.form-inline{
    margin-left: 800px;
}
#text{
    width:200px;
    margin: 10px;
}